/*Fonts*/
@font-face{
	font-family: 'Questrial';
	src: url('../fonts/Questrial-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
/*Colors*/
:root {
    --main-pink: #ff5773;
    --text-gray: #c3d0d8;
  }
/*Scroll bar styles (webkit browsers)*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}
/*General*/
.regular-container{
    padding: 0 20%;
}
.center-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-btn{
    background: var(--main-pink);
    border: 1px solid var(--main-pink);
    font-family: 'Questrial';
    font-size: 14px;
    color: white;
    font-size: 14px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out .3s;
    display: flex;
}
.main-btn:hover,
.main-btn:focus{
    background: white;    
    color: var(--main-pink);
    border: 1px solid var(--main-pink);
}
.white-btn{
    background: white;
    font-family: 'Questrial';
    font-size: 14px;
    color: var(--main-pink);
    padding: 10px 30px;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out .3s;
    display: flex;
}
.white-btn:hover,
.white-btn:focus{
    background: var(--main-pink);
    color: white;
}
/*Header*/
header{
    display: flex;
    padding: 12px 10%;
    align-items: center;
    justify-content: space-between;
}
#menu-icon,
#mobile-fade,
header nav .logo-mobile,
#close-mobilenav{
    display: none;
}
header .logo{
    width: 160px;
}
header .logo img{
    width: 100%;
}
header nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
header nav ul{
    padding: 0;
    display: flex;
    list-style: none;
    gap: 30px;
}
header nav ul a{
    text-decoration: none;
    color: #707070;
}
header nav ul li{
    font-family: 'Questrial';
    font-size: 14px;
    color: #707070;
    padding: 7px 20px;
    transition: all ease-in-out .4s;
}
header nav ul li:hover,
header nav ul li:focus{
    background: var(--main-pink);
    color: white;
}
header nav ul li.active{
    background: var(--main-pink);
    color: white;
}
header nav i.search-ico{
    color: var(--main-pink);
}
/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}
footer p.copyright{
    text-align: center;
    font-family: 'Questrial';
    color: var(--text-gray);
    font-size: 12px;
    letter-spacing: 2px;
}
footer p.copyright a{
    color: var(--main-pink);
    text-decoration: none;
    transition: all ease-in-out .3s;
}
footer p.copyright a:hover{
    text-decoration: underline;
}
footer .social{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
footer .social i{
    color: var(--text-gray); 
    font-size: 13px;
    transition: all ease-in-out .3s;
}
footer .social i:hover{
    color: var(--main-pink);
}
/*Main banner*/
#main-banner{
    background-image: url('../img/banner-home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#main-banner .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 0;
    background: rgba(255,87,115,.5);
    background: -prefix-linear-gradient(top, rgba(255,87,115,.8), rgba(0,0,0,.3));
    background: linear-gradient(to bottom, rgba(255,87,115,.8), rgba(0,0,0,.3));
}
#main-banner .contents h3{
    font-family: 'Montserrat Bold';
    text-align: center;
    color: white;
    margin: 15px 0;
    letter-spacing: 2px;
    font-size: 25px;
}
#main-banner .contents small{
    font-family: 'Questrial';
    text-align: center;
    color: white;
    margin: 15px 0;
}
#main-banner .contents a{
    margin: 15px 0;
}
/*Portfolio Grid*/
#portfolio-grid .controls .typeof-grid{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
}
#portfolio-grid .controls .typeof-grid i{
    cursor: pointer;
}
#portfolio-grid .controls .typeof-grid i.type-active{
    color: var(--main-pink);
    cursor: initial;
}
#categories-control ul{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}
#categories-control ul li{
    font-family: 'Questrial';
    color: black;
    padding: 7px 12px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    text-transform: capitalize;
    font-size: 14px;
}
#categories-control ul li:hover{
    background: #fafafa;
}
#categories-control ul li.active,
#categories-control ul li.active:hover{
    background: var(--main-pink);
    color: white;
}
#works-grid{
    position: relative;
    height: auto;
    overflow: hidden;
    max-height: 1000px;
}
#works-grid.min-height{
    height: 1000px;
}
#works-grid ul{
    list-style: none;
    padding: 0;
    columns: 3 200px;
    column-gap: 10px;
}
#works-grid ul li{
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat Bold';
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}
#works-grid ul li img{
    width: 100%;
}
#works-grid ul li .lay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,87,115,.95);  
    border: 8px solid rgba(255,87,115,99);    
    padding: 15px 20px;
    transition: all ease-in-out .6s;
    opacity: 0;
    cursor: pointer;
}
#works-grid ul li:hover .lay{
    opacity: 1;
}
#works-grid ul li .lay h2{
    font-family: 'Montserrat Bold';
    font-size: 13px;
    color: white;
    border-bottom: 1px solid white;
    margin: 0;
    padding-bottom: 5px;
}
#works-grid ul li .lay p{
    font-family: 'Questrial';
    color: white;
    margin: 15px 0;
}
#works-grid::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    background: -prefix-linear-gradient(top, transparent, rgba(255,255,255,1));
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,1));
}